<div class="card">
  <img
    src="https://www.clipartmax.com/png/middle/296-2969961_no-image-user-profile-icon.png"
    alt="Employee img"
    style="width: 100%"
  />
  <h1>{{ task.name }} {{ task.lastName }}</h1>
  <p [hidden]="!task.hide">Position {{ task.designation }}</p>
  <p [hidden]="!task.hide">Salary ${{ task.salary }}</p>
  <div>
    <button class="button button1" (click)="showInfo()">Show</button>
    <button class="button button2" (click)="deleteInfo(task)">Delete</button>
  </div>
</div>
